.pagination {
    padding: 0;
    padding-top: 16px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7,max-content);
    font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--primary);

    &__item {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 33px;
     height: 38px;
     border-top: 1px solid var(--grey-color);
     border-bottom: 1px solid var(--grey-color);
     border-right: 1px solid var(--grey-color);
     transition: .3s ease-in-out;
    }

    &__item.active {
     background-color: var(--primary);
     color: var(--gray100);
    }

    &__item:hover,
    &__item:active,
    &__item:focus {
     background-color: var(--primary);
     color: var(--gray100);
    }

    &__item--to-prev-link {
      border: 1px solid var(--grey-color);
      border-radius: 4px 0px 0px 4px;
    }

    &__item--to-next-link {
      border-radius: 0px 4px 4px 0px;
    }

    &__to-prev-link,
    &__to-next-link {
     display: flex;
    }

    &__link {
      text-decoration: none;
      color: inherit;
    }
 }