---
import UsersGroupPopupTable from "./UsersGroupPopupTable.astro";
import Pagination from "../Pagination.astro";
import ChooseUsersAltPopup from "./ChooseUsersAltPopup.astro";
---

<div class="popup edit-users-group-popup" x-bind:class="{'active': editUsersGroupPopup === true}" x-data="{table: 1}">
    <form action="#" method="post" class="popup__form edit-users-group-popup__form">
    <div class="popup__content edit-users-group-popup__content">
  <div class="popup__top-row edit-users-group-popup__top-row">
    <button class="popup__close-btn mobile" type="button" x-on:click="editUsersGroupPopup = false">
      <svg class="popup__close-btn-icon" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L13 1" stroke="#869AB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>                  
  </button>
    <button class="popup__close-btn desktop" type="button" x-on:click="editUsersGroupPopup = false">
        <svg class="popup__close-btn-icon" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.53333 1L1 9.53333M1 1L9.53333 9.53333" stroke="#869AB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>            
    </button>
    <h2 class="popup__title edit-users-group-popup__title">
        Название группы
    </h2>
   </div>
   <ul role="list" class="site-section__table-tabs edit-users-group-popup__table-tabs">
    <li class="site-section__table-tabs-item edit-users-group-popup__table-tabs-item">
        <button type="button" class="site-section__table-tabs-item-btn edit-users-group-popup__table-tabs-item-btn active" x-on:click="table = 1" x-bind:class="{'active': table === 1}">
            Общие
        </button>
    </li><li class="site-section__table-tabs-item edit-users-group-popup__table-tabs-item">
        <button type="button" class="site-section__table-tabs-item-btn edit-users-group-popup__table-tabs-item-btn" x-on:click="table = 2" x-bind:class="{'active': table === 2}">
            Доступ
        </button>
    </li>
</li><li class="site-section__table-tabs-item edit-users-group-popup__table-tabs-item">
    <button type="button" class="site-section__table-tabs-item-btn edit-users-group-popup__table-tabs-item-btn" x-on:click="table = 3" x-bind:class="{'active': table === 3}">
        Пользователи
    </button>
</li>
   </ul>
    <div class="popup__body edit-users-group-popup__body">
        <fieldset class="edit-users-group-popup__fieldset" x-show="table === 1">
           <ul role="list" class="edit-users-group-popup__overall-list">
             <li class="edit-users-group-popup__overall-list-item">
                <p class="edit-users-group-popup__overall-list-item-title">Активность</p>
                <p class="edit-users-group-popup__overall-list-item-info">Да</p>
             </li>
             <li class="edit-users-group-popup__overall-list-item">
                <p class="edit-users-group-popup__overall-list-item-title">Сортировка</p>
                <p class="edit-users-group-popup__overall-list-item-info">100</p>
             </li>
             <li class="edit-users-group-popup__overall-list-item">
                <p class="edit-users-group-popup__overall-list-item-title">Описание</p>
                <p class="edit-users-group-popup__overall-list-item-info">Текст описания</p>
             </li>
           </ul>
        </fieldset>
        <fieldset class="edit-users-group-popup__fieldset" x-show="table === 2">
                <div class="edit-users-group-popup__access-accordeon" x-data="{toggleAccordeon: false }">
                    <div class="edit-users-group-popup__access-accordeon-top" x-on:click="toggleAccordeon = !toggleAccordeon">
                        <h2 class="popup__title edit-users-group-popup__title">
                            Базовые модули
                        </h2>
                        <svg class="edit-users-group-popup__access-accordeon-arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleAccordeon === true}">
                            <path d="M1 1L9 9L17 1" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                    </div>
                    <ul role="list" class="edit-users-group-popup__access-accordeon-list" x-show="toggleAccordeon === true" x-collapse.duration.750ms x-data="{items: ['Задачи', 'Финансы', 'Файлы', 'Мессенджер', 'Заказы']}">
                        <template x-for="item in items">
                        <li class="edit-users-group-popup__access-accordeon-list-item">
                            <div class="edit-users-group-popup__form-control-group">
                                <p class="edit-users-group-popup__form-control-group-title" x-text="item">
                                </p>
                                <div class="edit-users-group-popup__form-control-wrapper edit-users-group-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Доступ запрещен'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                                    <input type="text" class="edit-users-group-popup__form-control-select-result-input access-denied" value="Доступ запрещен" readonly x-model="resultInputVal">
                                    <div class="edit-users-group-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                                    <ul role="list" class="edit-users-group-popup__form-control-select-list">
                                      <li class="edit-users-group-popup__form-control-select-list-item">
                                        <input type="text" value="Доступ запрещен" readonly class="edit-users-group-popup__form-control-select-list-item-input access-denied" x-on:click="resultInputVal = 'Доступ запрещен'">
                                      </li>
                                    </ul>
                                    </div>
                                    <svg class="edit-users-group-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                                      <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>                  
                                  </div>
                            </div>
                        </li>
                       </template>
                    </ul>
                </div>
                <div class="edit-users-group-popup__access-accordeon" x-data="{toggleAccordeon: false }">
                    <div class="edit-users-group-popup__access-accordeon-top" x-on:click="toggleAccordeon = !toggleAccordeon">
                        <h2 class="popup__title edit-users-group-popup__title">
                            Приложения
                        </h2>
                        <svg class="edit-users-group-popup__access-accordeon-arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleAccordeon === true}">
                            <path d="M1 1L9 9L17 1" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                    </div>
                    <ul role="list" class="edit-users-group-popup__access-accordeon-list" x-show="toggleAccordeon === true" x-collapse.duration.750ms x-data="{items: ['Веб-формы', 'Акты', 'Товары', 'Списки', 'Заметки', 'Почта', 'Онбординг']}">
                        <template x-for="item in items">
                        <li class="edit-users-group-popup__access-accordeon-list-item">
                            <div class="edit-users-group-popup__form-control-group">
                                <p class="edit-users-group-popup__form-control-group-title" x-text="item">
                                </p>
                                <div class="edit-users-group-popup__form-control-wrapper edit-users-group-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Доступ запрещен'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                                    <input type="text" class="edit-users-group-popup__form-control-select-result-input access-denied" value="Доступ запрещен" readonly x-model="resultInputVal">
                                    <div class="edit-users-group-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                                    <ul role="list" class="edit-users-group-popup__form-control-select-list">
                                      <li class="edit-users-group-popup__form-control-select-list-item">
                                        <input type="text" value="Доступ запрещен" readonly class="edit-users-group-popup__form-control-select-list-item-input access-denied" x-on:click="resultInputVal = 'Доступ запрещен'">
                                      </li>
                                    </ul>
                                    </div>
                                    <svg class="edit-users-group-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                                      <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>                  
                                  </div>
                            </div>
                        </li>
                       </template>
                    </ul>
                </div>
                <div class="edit-users-group-popup__access-accordeon" x-data="{toggleAccordeon: false }">
                    <div class="edit-users-group-popup__access-accordeon-top" x-on:click="toggleAccordeon = !toggleAccordeon">
                        <h2 class="popup__title edit-users-group-popup__title">
                            Интеграции
                        </h2>
                        <svg class="edit-users-group-popup__access-accordeon-arrow" width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleAccordeon === true}">
                            <path d="M1 1L9 9L17 1" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                    </div>
                    <ul role="list" class="edit-users-group-popup__access-accordeon-list" x-show="toggleAccordeon === true" x-collapse.duration.750ms x-data="{items: ['Импорт банковских выписок', 'CSV-Импорт', 'Телефония', 'DaData' ]}">
                        <template x-for="item in items">
                        <li class="edit-users-group-popup__access-accordeon-list-item">
                            <div class="edit-users-group-popup__form-control-group">
                                <p class="edit-users-group-popup__form-control-group-title" x-text="item">
                                </p>
                                <div class="edit-users-group-popup__form-control-wrapper edit-users-group-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Доступ запрещен'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                                    <input type="text" class="edit-users-group-popup__form-control-select-result-input access-denied" value="Доступ запрещен" readonly x-model="resultInputVal">
                                    <div class="edit-users-group-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                                    <ul role="list" class="edit-users-group-popup__form-control-select-list">
                                      <li class="edit-users-group-popup__form-control-select-list-item">
                                        <input type="text" value="Доступ запрещен" readonly class="edit-users-group-popup__form-control-select-list-item-input access-denied" x-on:click="resultInputVal = 'Доступ запрещен'">
                                      </li>
                                    </ul>
                                    </div>
                                    <svg class="edit-users-group-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                                      <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>                  
                                  </div>
                            </div>
                        </li>
                       </template>
                    </ul>
                </div>
        </fieldset>
        <fieldset class="edit-users-group-popup__fieldset" x-show="table === 3">
            <div class="edit-users-group-popup__form-control-group users">
                <button type="button" class="btn btn--primary edit-users-group-popup__add-btn" x-on:click="chooseUsersAltPopup = true">
                    Добавить
                </button>
            </div>
            <div class="site-section__body edit-users-group-popup__body">
                <UsersGroupPopupTable></UsersGroupPopupTable>
               <ul role="list" class="pagination edit-users-group-popup__pagination">
                 <Pagination></Pagination>
               </ul>
               </div>
        </fieldset>
    <ul role="list" class="popup__btn-control-group edit-users-group-popup__btn-control-group">
      <li class="popup__btn-control-group-item edit-users-group-popup__btn-control-group-item">
          <button type="button" class="btn btn--primary popup__save-btn edit-users-group-popup__edit-btn">
            Редактировать
          </button>
      </li>
    </ul>
    </div>
</div>
</form>
</div>

<ChooseUsersAltPopup></ChooseUsersAltPopup>