<div class="site-section__table-wrapper users-group-popup-table__table-wrapper">
    <nav class="site-section__table users-group-popup-table__table" x-data="{tables: [1,2,3,4,5,6,7,8,9,10]}">
      <ul role="list" class="site-section__table-list site-section__table-caption-list users-group-popup-table__table-list users-group-popup-table__table-caption-list">
        <li class="site-section__table-list-item site-section__table-caption-list-item users-group-popup-table__table-list-item users-group-popup-table__table-list-caption-item">
            ФИО
        </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item users-group-popup-table__table-list-item users-group-popup-table__table-list-caption-item">
            Эл.почта
          </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item users-group-popup-table__table-list-item users-group-popup-table__table-list-caption-item">
            Телефон
        </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item users-group-popup-table__table-list-item users-group-popup-table__table-list-caption-item">
          <p class="visibility-hidden">Телефон</p>
      </li>
      </ul>
      <template x-for="(table,index) in tables">
      <ul role="list" class="site-section__table-list users-group-popup-table__table-list">
        <li class="site-section__table-list-item users-group-popup-table__table-list-item">
            <div class="site-section__resp-wrapper">
                <img src="/images/header-avatar-placeholder.svg" alt="responsible face avatar" loading="lazy" decoding="async" width="24" height="24">
                <span class="users-group-popup-table__resp-title">
                  vtr@uralreduktor.ru
                </span>
              </div>
         </li>
        <li class="site-section__table-list-item users-group-popup-table__table-list-item">
            Название группы
         </li>
         <li class="site-section__table-list-item users-group-popup-table__table-list-item">
            Описание группы
         </li>
         <li class="site-section__table-list-item users-group-popup-table__table-list-item">
          <button type="button" class="users-group-popup-table__delete-btn" x-on:click="$el.closest('.users-group-popup-table__table-list').remove()">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 1L1 9M1 1L9 9" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </button>
       </li>
      </ul>
    </template>
    </nav>
</div>