<div class="popup add-organization-popup" x-bind:class="{'active': addOrganizationPopup === true}">
    <div class="popup__content add-organization-popup__content">
        <div class="popup__top-row add-organization-popup__top-row">
          <button class="popup__close-btn mobile" type="button" x-on:click="addOrganizationPopup = false">
              <svg class="popup__close-btn-icon" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L13 1" stroke="#869AB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>                  
          </button>
          <button class="popup__close-btn desktop" type="button" x-on:click="addOrganizationPopup = false">
              <svg class="popup__close-btn-icon" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.53333 1L1 9.53333M1 1L9.53333 9.53333" stroke="#869AB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>            
          </button>
          <div class="popup__title-top-controls-row add-organization-popup__title-top-controls-row">
          <h2 class="popup__title add-organization-popup__title">
            Новая организация
          </h2>
          </div>
        </div>
        <div class="site-section__body popup__body add-organization-popup__body">
             <div class="add-organization-popup__wrapper b-b">
                <h2 class="popup__title add-organization-popup__title p-b">
                    Общее
                  </h2>
                  <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Название организации<sup>*</sup>
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input" required>
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <div class="add-organization-popup__form-control-title-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Полное наименование
                    </p>
                    <p class="add-organization-popup__form-control-group-subtitle">
                        Юридическое наименование организации используется в печатных формах, например, ООО "Компания"
                    </p>
                    </div>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
             </div>
             <div class="add-organization-popup__wrapper b-b">
                <h2 class="popup__title add-organization-popup__title p-b">
                    Юридический адрес
                  </h2>
                  <div class="add-organization-popup__form-control-group">
                    <div class="add-organization-popup__form-control-title-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Адрес
                    </p>
                    <p class="add-organization-popup__form-control-group-subtitle">
                        Юридический адрес компании
                    </p>
                  </div>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input" required>
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Город
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Область/штат
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Индекс
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Страна
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Россия'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                        <input type="text" class="add-organization-popup__form-control-select-result-input" name="form-control-select-result-input" value="Россия" readonly x-model="resultInputVal">
                        <div class="add-organization-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                        <ul role="list" class="add-organization-popup__form-control-select-list">
                          <li class="add-organization-popup__form-control-select-list-item">
                            <input type="text" value="Россия" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Россия'">
                          </li>
                          <li class="add-organization-popup__form-control-select-list-item">
                            <input type="text" value="Китай" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Китай'">
                          </li>
                          <li class="add-organization-popup__form-control-select-list-item">
                            <input type="text" value="Турция" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Турция'">
                          </li>
                        </ul>
                        </div>
                        <svg class="add-organization-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                          <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>                  
                    </div>
                 </div>
             </div>
             <div class="add-organization-popup__wrapper b-b">
                <div class="add-organization-popup__title-row">
                <h2 class="popup__title add-organization-popup__title">
                    Почтовый адрес
                  </h2>
                  <button type="button" class="add-organization-popup__copy-addr-btn">
                    Скопировать адрес
                  </button>
                </div>
                  <div class="add-organization-popup__form-control-group">
                    <div class="add-organization-popup__form-control-title-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Адрес
                    </p>
                    <p class="add-organization-popup__form-control-group-subtitle">
                        Юридический адрес компании
                    </p>
                     </div>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input" required>
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Город
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Область/штат
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Индекс
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Страна
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Россия'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                        <input type="text" class="add-organization-popup__form-control-select-result-input" name="form-control-select-result-input" value="Россия" readonly x-model="resultInputVal">
                        <div class="add-organization-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                        <ul role="list" class="add-organization-popup__form-control-select-list">
                          <li class="add-organization-popup__form-control-select-list-item">
                            <input type="text" value="Россия" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Россия'">
                          </li>
                          <li class="add-organization-popup__form-control-select-list-item">
                            <input type="text" value="Китай" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Китай'">
                          </li>
                          <li class="add-organization-popup__form-control-select-list-item">
                            <input type="text" value="Турция" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Турция'">
                          </li>
                        </ul>
                        </div>
                        <svg class="add-organization-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                          <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>                  
                    </div>
                 </div>
             </div>
             <div class="add-organization-popup__wrapper b-b">
                <h2 class="popup__title add-organization-popup__title p-b">
                    Контакты
                  </h2>
                  <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Веб-сайт
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="text" class="add-organization-popup__form-control-input" required>
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        E-mail
                    </p>
                    <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                      <input type="email" class="add-organization-popup__form-control-input">
                    </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                    <p class="add-organization-popup__form-control-group-title">
                        Телефон
                    </p>
                    <div class="add-organization-popup__form-control-tel-wrapper">
                    <div class="add-organization-popup__form-control-select-wrapper tel-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: '+86'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                      <input type="text" class="add-organization-popup__form-control-select-result-input" name="form-control-select-result-input" value="+86" readonly x-model="resultInputVal">
                      <div class="add-organization-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                      <ul role="list" class="add-organization-popup__form-control-select-list">
                        <li class="add-organization-popup__form-control-select-list-item">
                          <input type="text" value="+86" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+86'">
                        </li>
                        <li class="add-organization-popup__form-control-select-list-item">
                          <input type="text" value="+87" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+87'">
                        </li>
                        <li class="add-organization-popup__form-control-select-list-item">
                          <input type="text" value="+7" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+7'">
                        </li>
                      </ul>
                      </div>
                      <svg class="add-organization-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                        <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                  
                  </div>
                    <input x-mask="999-99-99-99" placeholder="ХХХ-ХХ-ХХ-ХХ">
                   </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                  <p class="add-organization-popup__form-control-group-title">
                    Доп. телефон
                  </p>
                  <div class="add-organization-popup__form-control-tel-wrapper">
                  <div class="add-organization-popup__form-control-select-wrapper tel-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: '+86'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                    <input type="text" class="add-organization-popup__form-control-select-result-input" name="form-control-select-result-input" value="+86" readonly x-model="resultInputVal">
                    <div class="add-organization-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                    <ul role="list" class="add-organization-popup__form-control-select-list">
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="+86" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+86'">
                      </li>
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="+87" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+87'">
                      </li>
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="+7" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+7'">
                      </li>
                    </ul>
                    </div>
                    <svg class="add-organization-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                      <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>                  
                </div>
                  <input x-mask="999-99-99-99" placeholder="ХХХ-ХХ-ХХ-ХХ">
                 </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                  <p class="add-organization-popup__form-control-group-title">
                    Моб. телефон
                  </p>
                  <div class="add-organization-popup__form-control-tel-wrapper">
                  <div class="add-organization-popup__form-control-select-wrapper tel-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: '+86'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                    <input type="text" class="add-organization-popup__form-control-select-result-input" name="form-control-select-result-input" value="+86" readonly x-model="resultInputVal">
                    <div class="add-organization-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                    <ul role="list" class="add-organization-popup__form-control-select-list">
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="+86" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+86'">
                      </li>
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="+87" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+87'">
                      </li>
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="+7" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = '+7'">
                      </li>
                    </ul>
                    </div>
                    <svg class="add-organization-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                      <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>                  
                </div>
                  <input x-mask="999-99-99-99" placeholder="ХХХ-ХХ-ХХ-ХХ">
                 </div>
                 </div>
                 <div class="add-organization-popup__form-control-group">
                  <p class="add-organization-popup__form-control-group-title">
                      Факс
                  </p>
                  <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                    <input type="text" class="add-organization-popup__form-control-input" required>
                  </div>
               </div>
             </div>
             <div class="add-organization-popup__wrapper b-b">
              <h2 class="popup__title add-organization-popup__title p-b">
                Налоги
                </h2>
                <div class="add-organization-popup__form-control-group">
                  <p class="add-organization-popup__form-control-group-title">
                    ИНН
                  </p>
                  <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                    <input type="text" class="add-organization-popup__form-control-input">
                  </div>
               </div>
               <div class="add-organization-popup__form-control-group">
                <p class="add-organization-popup__form-control-group-title">
                  КПП
                </p>
                <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                  <input type="text" class="add-organization-popup__form-control-input">
                </div>
             </div>
             <div class="add-organization-popup__form-control-group">
              <p class="add-organization-popup__form-control-group-title">
                Ставка налога 1(%)
              </p>
                <div class="add-organization-popup__form-control-row-wrapper">
                  <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                    <input type="number" class="add-organization-popup__form-control-input">
                  </div>
                  <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Добавить сверху'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                    <input type="text" class="add-organization-popup__form-control-select-result-input" name="form-control-select-result-input" value="Добавить сверху" readonly x-model="resultInputVal">
                    <div class="add-organization-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                    <ul role="list" class="add-organization-popup__form-control-select-list">
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="Добавить сверху" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Добавить сверху'">
                      </li>
                      <li class="add-organization-popup__form-control-select-list-item">
                        <input type="text" value="Добавить снизу" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Добавить снизу'">
                      </li>
                    </ul>
                    </div>
                    <svg class="add-organization-popup__form-control-select-arrow taxes" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                      <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>                  
                </div>
                </div>
           </div>
           <div class="add-organization-popup__form-control-group">
            <p class="add-organization-popup__form-control-group-title">
              Ставка налога 2(%)
            </p>
              <div class="add-organization-popup__form-control-row-wrapper">
                <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                  <input type="number" class="add-organization-popup__form-control-input">
                </div>
                <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Добавить сверху'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                  <input type="text" class="add-organization-popup__form-control-select-result-input" name="form-control-select-result-input" value="Добавить сверху" readonly x-model="resultInputVal">
                  <div class="add-organization-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                  <ul role="list" class="add-organization-popup__form-control-select-list">
                    <li class="add-organization-popup__form-control-select-list-item">
                      <input type="text" value="Добавить сверху" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Добавить сверху'">
                    </li>
                    <li class="add-organization-popup__form-control-select-list-item">
                      <input type="text" value="Добавить снизу" readonly class="add-organization-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Добавить снизу'">
                    </li>
                  </ul>
                  </div>
                  <svg class="add-organization-popup__form-control-select-arrow taxes" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                    <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                  
              </div>
              </div>
           </div>
             </div>
             <div class="add-organization-popup__wrapper b-b">
              <h2 class="popup__title add-organization-popup__title p-b">
                   Предложения
                </h2>
                <div class="add-organization-popup__form-control-group">
                  <p class="add-organization-popup__form-control-group-title">
                     Печать и подпись
                  </p>
                  <div class="add-organization-popup__choose-image-wrapper" x-data="{images: []}" x-bind:class="{'active': images.length > 0 }">
                    <ul role="list" class="add-organization-popup__attach-files-list" x-bind:class="{'active': images.length > 0 }">
                      <template x-for="image in images">
                        <li class="add-organization-popup__attach-files-list-item">
                          <img src="/images/attach-files-placeholder.png" alt="attach files image" class="add-organization-popup__attach-files-list-item-img" loading="lazy" decoding="async">
                          <div class="add-organization-popup__attach-files-list-item-info">
                              <p class="add-organization-popup__attach-files-list-item-title" x-text="image.name">1</p>
                              <p class="add-organization-popup__attach-files-list-item-size-format">
                                  <span x-text="image.size">240.25 </span>КБ <span x-text="image.type"></span> 
                              </p>
                          </div>
                          <div class="add-organization-popup__attach-files-list-item-controls">
                              <button type="button" class="add-organization-popup__attach-files-list-item-add-btn">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M6.00016 1.33203V10.6654M1.3335 5.9987H10.6668" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>      
                              </button>
                              <button type="button" class="add-organization-popup__attach-files-list-item-download-btn">
                                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1.6665 10.3346V11.668C1.6665 12.0216 1.80698 12.3607 2.05703 12.6108C2.30708 12.8608 2.64622 13.0013 2.99984 13.0013H10.9998C11.3535 13.0013 11.6926 12.8608 11.9426 12.6108C12.1927 12.3607 12.3332 12.0216 12.3332 11.668V10.3346M3.6665 6.33464L6.99984 9.66797M6.99984 9.66797L10.3332 6.33464M6.99984 9.66797V1.66797" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>      
                              </button>
                          </div>
                        </li>
                      </template>
                    </ul>
                    <div class="add-organization-popup__choose-image-btn-wrapper">
                      <input type="file" class="add-organization-popup__choose-image-btn-file-input" multiple x-on:change="images = $el.files" accept="image/png, image/jpeg">
                    <button type="button" class="add-organization-popup__choose-image-btn">
                      Выберите изображение
                     </button>
                    </div>
                  </div>
               </div>
               <div class="add-organization-popup__form-control-group">
                  <p class="add-organization-popup__form-control-group-title">
                    Префикс номера предложения
                  </p>
                  <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                    <input type="text" class="add-organization-popup__form-control-input">
                  </div>
               </div>
             </div>
             <div class="add-organization-popup__wrapper" x-data="{expanded: false}">
              <p class="add-organization-popup__form-control-group-title p-b">
                Шаблон письма при отправке предложения
              </p>
                <div class="add-organization-popup__form-control-group">
                  <p class="add-organization-popup__form-control-group-title">
                    Тема письма
                 </p>
                  <div class="add-organization-popup__form-control-wrapper add-organization-popup__form-control-input-wrapper">
                    <input type="text" class="add-organization-popup__form-control-input letter-theme" value="Предложение № #ESTIMATE_PRINT _NUMBER# от #ORG_TITLE#">
                  </div>
                </div>
                <ul role="list" class="add-organization-popup__macros-list mobile" x-show="expanded" x-collapse.min.116px.duration.750ms>
                  <li class="add-organization-popup__macros-list-item">
                    #CUSTOMER_CONTACT_FIRST_NAME# - Имя контакта;
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #CUSTOMER_CONTACT_NAME_PATRONYMIC# - Имя и Отчество контакта;
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #CUSTOMER_CONTACT_LAST_NAME# - фамилия контакта;
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #CUSTOMER_CONTACT_FULL_NAME# - Имя и фамилия контакта;
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #ESTIMATE_PRINT_NUMBER# - Номер предложения;
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #ORG_TITLE# - Имя компании;
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #ESTIMATE_EXTERNAL_LINK# - Внешняя ссылка на предложение
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #TOTAL#-сумма предложения
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #DATE# - Дата
                  </li>
                  <li class="add-organization-popup__macros-list-item">
                    #EXPIRE_DATE - Дата действия предложения
                  </li>
                </ul>
                <button type="button" class="add-organization-popup__expand-macros-btn" x-on:click="expanded = !expanded">
                  Подробнее
                  <svg class="add-organization-popup__expand-macros-btn-icon" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': expanded === true}">
                    <path d="M1 1L5 5L9 1" stroke="#7C69EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                </button>
              </div>
              <div class="add-organization-popup__commercial-offer-wrapper">
              <ul role="list" class="add-organization-popup__macros-list desktop">
                <li class="add-organization-popup__macros-list-item">
                  #CUSTOMER_CONTACT_FIRST_NAME# - Имя контакта;
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #CUSTOMER_CONTACT_NAME_PATRONYMIC# - Имя и Отчество контакта;
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #CUSTOMER_CONTACT_LAST_NAME# - фамилия контакта;
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #CUSTOMER_CONTACT_FULL_NAME# - Имя и фамилия контакта;
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #ESTIMATE_PRINT_NUMBER# - Номер предложения;
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #ORG_TITLE# - Имя компании;
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #ESTIMATE_EXTERNAL_LINK# - Внешняя ссылка на предложение
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #TOTAL#-сумма предложения
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #DATE# - Дата
                </li>
                <li class="add-organization-popup__macros-list-item">
                  #EXPIRE_DATE - Дата действия предложения
                </li>
              </ul>
                <div class="add-organization-popup__commercial-offer">
                   <div class="add-organization-popup__commercial-offer-top">
                    <svg class="add-organization-popup__commercial-offer-logo" width="177" height="40" viewBox="0 0 177 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_724_37908)">
                      <path d="M6.16551 9.99816C6.11944 9.95438 6.08227 9.90156 6.05615 9.84277L6.16551 9.99816Z" fill="#BE054B"/>
                      <path d="M8.43569 22.6152L8.40283 22.6358V22.629L8.43569 22.6152Z" fill="#BE054B"/>
                      <path d="M21.9717 10.542C21.9213 10.5826 21.863 10.6115 21.8008 10.6268L21.9717 10.542Z" fill="#BE054B"/>
                      <path d="M22.3193 10.3584C22.2718 10.3661 22.2233 10.3661 22.1758 10.3584H22.3125H22.3193Z" fill="#BE054B"/>
                      <path d="M17.7621 22.4321L17.7007 22.7357L17.6052 23.3711L17.5575 24.1478V24.9809L17.5029 25.7293L17.3938 26.4354L17.2369 27.0708L17.0868 27.5015L17.0049 27.5792V27.7133L16.8412 28.0522L16.5683 28.5182L16.2545 28.9277L15.8862 29.2949L15.6679 29.4643H15.627L15.5042 29.5914L15.2449 29.7397H15.1426L15.0539 29.8315L14.8084 29.9444L14.3581 30.0715L14.0102 30.1351C10.7474 30.4853 7.52 31.1279 4.36445 32.0555C1.85596 28.5925 0.5 24.3809 0.5 20.0527C0.5 15.7244 1.85596 11.5129 4.36445 8.0498L4.55546 8.14865L4.85561 8.31104L5.15576 8.57934L5.4832 8.94649L5.74924 9.32776L5.97436 9.76551L6.15854 10.2315C6.15261 10.1846 6.15261 10.1372 6.15854 10.0903L6.31544 10.7963C6.31544 10.7963 6.31544 10.7257 6.31544 10.6834V10.8528L6.41094 11.4742V12.0672V12.7239C6.41278 12.7497 6.41278 12.7757 6.41094 12.8015L6.34272 13.5076L6.20629 14.256V14.3548L6.12443 15.0609V15.7669V16.473L6.21994 17.2073L6.30862 18.0969L6.43141 18.9865L6.60877 20.0032L6.81342 20.9282L7.07946 21.9943L7.67976 23.9854L8.06178 25.0586L8.85991 27.0355L9.30331 27.3885L10.3266 27.5439H10.4084L11.6772 27.7063L14.0785 27.9393L14.5969 27.6921L15.7702 25.9623L16.3432 25.0444L16.9094 24.0913L17.3869 23.1381L17.7621 22.4321Z" fill="#BE054B"/>
                      <path d="M31.7466 30.7418L31.8559 30.6641L31.6235 30.8901L31.7466 30.7418Z" fill="#BE054B"/>
                      <path d="M34.4614 33.023C32.6471 35.2114 30.3971 36.968 27.8656 38.1722C25.3341 39.3765 22.581 40 19.7949 40C17.0088 40 14.2557 39.3765 11.7242 38.1722C9.19269 36.968 6.94269 35.2114 5.12842 33.023C8.05358 32.1918 11.0403 31.6132 14.0579 31.2932L14.4468 31.2367H14.5354L14.9584 31.1167L15.4768 30.9119H15.6133L15.7224 30.7989L16.0089 30.6295H16.1044L16.2408 30.4742L16.6024 30.1917L16.732 30.0717L16.9844 29.8034L17.3869 29.3092C17.4334 29.2624 17.4746 29.2103 17.5097 29.1538L17.7825 28.709L18.0418 28.1654L18.1373 28.0524V27.9253L18.3078 27.4381L18.4988 26.6685L18.6216 25.8919C18.6271 25.8403 18.6271 25.7882 18.6216 25.7366L18.6762 25.0305V24.155L18.7171 23.4913L18.7921 22.9759L19.0991 21.5638L19.2833 20.9072L19.3583 20.8295V20.6671L19.5834 19.9611L19.6653 19.8763V19.7351L19.9041 19.0926L20.7022 17.2569L21.1183 16.4096L21.2275 16.2967V16.1837L21.6026 15.4776L21.7118 15.3506V15.3011L22.1757 14.4962L22.7487 13.5642L23.0829 13.0488L25.1294 13.1759L27.135 13.3666L27.8171 14.8987L28.2196 15.9436L28.5539 16.8544V16.9957L28.6221 17.0733L28.8609 17.8147V17.9771L28.9291 18.0477L29.1474 18.8102V18.9938L29.2019 19.0503L29.5771 20.6459V20.8436V20.8931L29.6863 21.5003V21.7262L30.0069 23.1383L30.041 23.7949V24.3951L30.0001 24.9458L29.8705 25.8213L29.8091 26.718V27.424C29.8041 27.4497 29.8041 27.4761 29.8091 27.5017L29.8705 28.1724L29.9932 28.8785C29.9932 28.8785 29.9932 28.9208 29.9932 28.935L30.1638 29.4998L30.4503 30.2059V30.2482L30.6549 30.6154L30.9824 31.0814L31.3917 31.5332L31.8556 31.9357L32.4286 32.3028L32.9197 32.5288L33.0766 32.5853L33.3222 32.67L33.4109 32.7053H33.4723L34.4614 33.023Z" fill="#BE054B"/>
                      <path d="M39.1481 19.9748C39.1521 24.3241 37.7845 28.5558 35.253 32.0271C34.7891 31.8859 34.3184 31.7447 33.8477 31.6247L33.1656 31.3493L32.7768 31.1234L32.0946 30.4809L31.8217 30.1137L31.5966 29.7042L31.3988 29.2735V29.1182L31.3237 29.0476L31.2282 28.7158V28.5463L31.1737 28.4898L31.0441 28.0803L30.9827 27.4519C30.9865 27.4381 30.9865 27.4234 30.9827 27.4096V26.7035L31.0236 26.0398V25.9622L31.1327 25.2561L31.2078 24.4441V23.7381V23.032L31.1327 22.213L30.8599 20.4761L30.6552 19.5018L30.4165 18.5416L30.0959 17.6449V17.4895L30.0208 17.4189L29.7479 16.5576L28.9703 14.4959L28.4996 13.3945L27.9539 12.2365L25.2252 11.9753L22.4966 11.82L21.2277 13.8816L20.7161 14.7713L20.6001 14.9054V14.9901L19.6929 16.7835L19.727 16.5929V16.5223L19.7884 15.9151V15.0819C19.7839 15.0562 19.7839 15.0299 19.7884 15.0042L19.8634 14.2982L19.9862 13.6416L20.1499 13.0626V12.9849V12.8437C20.1582 12.8857 20.1582 12.9289 20.1499 12.9708L20.3546 12.4483L20.6206 11.9329L20.8935 11.5164L21.2141 11.128L21.5688 10.7962L21.487 10.8527L21.6097 10.7538L21.5688 10.7962L21.9031 10.5632L22.2373 10.3867L22.6466 10.2243L23.1105 10.1113H23.4311C27.3924 9.83729 31.3143 9.12724 35.1302 7.99316C37.6907 11.4297 39.101 15.6354 39.1481 19.9748Z" fill="#BE054B"/>
                      <path d="M34.4614 6.89912C30.8756 7.92643 27.1979 8.57229 23.4854 8.82664L23.0898 8.869H22.9943L22.5577 8.97491H22.4554L21.9778 9.16554L21.4594 9.42678H21.4185C21.3637 9.45428 21.3131 9.48996 21.2684 9.53269L21.0433 9.70214C20.9878 9.72828 20.937 9.7641 20.8932 9.80805L20.5317 10.1399C20.4741 10.1832 20.4235 10.2357 20.3816 10.2952L20.0883 10.6482C20.0428 10.6942 20.0038 10.7465 19.9723 10.8036L19.7062 11.206L19.6585 11.3119L19.4061 11.7991V11.8697C19.4029 11.9049 19.4029 11.9404 19.4061 11.9756L19.2151 12.4487C19.2151 12.4487 19.2151 12.5334 19.1605 12.6181L18.9968 13.19V13.2959L18.8672 14.002V14.0867L18.7922 14.8492L18.7512 15.7459L18.6966 16.3178L18.5875 16.9392L18.4511 17.5605V17.5958L18.2396 18.3018L17.9872 19.0926L17.3391 20.7377L16.8071 21.7262L16.3568 22.6158L15.8793 23.5196L15.3541 24.4162L14.781 25.3341L14.1671 26.259L13.826 26.7391L13.0415 26.6685L10.5107 26.372H10.4493L9.76714 26.2661L9.13273 24.6845L8.75754 23.6255L8.44374 22.6299L8.17088 21.6697L7.9253 20.6954L7.72747 19.7492L7.58422 18.8243H7.55011L7.44096 18.0618L7.35228 17.1722L7.31135 16.4026V15.6965V15.0752L7.37957 14.468L7.516 13.7125V13.6278L7.59786 12.8511V12.0533C7.60126 11.9992 7.60126 11.945 7.59786 11.8909L7.58422 11.4178C7.58789 11.3544 7.58789 11.2907 7.58422 11.2272L7.48872 10.6482C7.48458 10.595 7.4731 10.5427 7.45461 10.4929L7.325 10.0128V9.9422L7.12035 9.38442L7.08624 9.24321L6.84066 8.77015L6.80655 8.72073L6.48594 8.24767C6.45949 8.21187 6.4298 8.17877 6.39726 8.14883L6.14485 7.85229C6.10151 7.79609 6.05103 7.74621 5.99478 7.70401L5.70145 7.44278C5.6519 7.39905 5.59947 7.35895 5.54455 7.32275L5.13525 7.04739C6.93918 4.85094 9.1805 3.08404 11.7057 1.86769C14.2309 0.651351 16.9802 0.0143205 19.7654 0.000238673C22.5506 -0.0138431 25.3059 0.595356 27.8424 1.78611C30.379 2.97686 32.6369 4.72102 34.4614 6.89912Z" fill="#BE054B"/>
                      <path d="M51.0924 23.4776L46.7402 13.0068H49.9737L52.4568 19.5378L54.6124 13.0068H57.5593L53.6983 24.233C53.4018 25.3384 52.8519 26.3532 52.0952 27.1914C51.4201 27.7306 50.5794 27.9989 49.7281 27.9469H48.3638V25.165H49.7281C49.9571 25.1599 50.1798 25.0864 50.3693 24.9532C50.734 24.5374 50.9837 24.0277 51.0924 23.4776Z" fill="#BE054B"/>
                      <path d="M58.4121 13.0061H62.5665C63.5564 12.972 64.546 13.0813 65.5066 13.3309C66.2441 13.5877 66.8653 14.1152 67.2529 14.8136C67.7404 15.6819 67.9771 16.6768 67.9351 17.6801C67.9693 18.6195 67.7721 19.5525 67.3621 20.3914C67.016 21.0726 66.462 21.6163 65.7863 21.9376C64.794 22.3145 63.7378 22.4779 62.6824 22.4177H61.5569V27.9461H58.4121V13.0061ZM61.5842 15.4208V19.8548H62.5665C63.4328 19.8548 63.9922 19.65 64.2446 19.2334C64.5145 18.7393 64.6446 18.1766 64.6198 17.6095C64.6415 17.1341 64.5402 16.6612 64.3265 16.2398C64.1831 15.9396 63.9413 15.7018 63.6443 15.569C63.2935 15.4561 62.9267 15.4059 62.5597 15.4208H61.5842Z" fill="#BE054B"/>
                      <path d="M71.5574 13.0068H74.7499L78.877 27.9469H75.6299L74.9477 24.8614H70.8547L70.1726 27.9469H67.2529L71.5574 13.0068ZM74.286 22.2985L72.8262 16.177L71.4278 22.2985H74.286Z" fill="#BE054B"/>
                      <path d="M82.363 27.9469H79.4365L83.3999 13.0068H86.9676L91.0606 27.9469H87.9022L85.0371 16.2194L82.363 27.9469Z" fill="#BE054B"/>
                      <path d="M92.2338 13.0061H96.3882C97.3781 12.972 98.3677 13.0813 99.3283 13.3309C100.066 13.5877 100.687 14.1152 101.075 14.8136C101.562 15.6819 101.799 16.6768 101.757 17.6801C101.791 18.6195 101.594 19.5525 101.184 20.3914C100.84 21.0743 100.285 21.6185 99.608 21.9376C98.6134 22.3149 97.555 22.4782 96.4973 22.4177H95.3786V27.9461H92.2065L92.2338 13.0061ZM95.4059 15.4208V19.8548H96.3882C97.2545 19.8548 97.8139 19.65 98.0663 19.2334C98.3363 18.7393 98.4663 18.1766 98.4415 17.6095C98.4632 17.1341 98.3619 16.6612 98.1482 16.2398C98.0048 15.9396 97.7631 15.7018 97.466 15.569C97.1153 15.4561 96.7484 15.4059 96.3814 15.4208H95.4059Z" fill="#161C2D"/>
                      <path d="M103.305 13.0068H112.085V15.5627H106.498V19.0365H110.857V21.5995H106.498V25.2568H112.105V27.9257H103.305V13.0068Z" fill="#161C2D"/>
                      <path d="M112.869 25.2567L116.007 13.042H120.1L122.924 25.2567H123.825V30.9757H121.505L121.219 27.9467H114.609L114.336 30.9757H111.955V25.2567H112.869ZM115.755 25.2567H119.704L117.972 16.191H117.576L115.755 25.2567Z" fill="#161C2D"/>
                      <path d="M127.42 23.4776L123.061 13.0068H126.28L128.763 19.5378L130.919 13.0068H133.859L129.998 24.233C129.707 25.3407 129.156 26.3568 128.395 27.1914C127.723 27.7307 126.884 27.9991 126.035 27.9469H124.67V25.165H126.035C126.264 25.1592 126.486 25.0857 126.676 24.9532C127.045 24.5379 127.302 24.0287 127.42 23.4776Z" fill="#161C2D"/>
                      <path d="M134.739 13.0068H137.911V19.2413L141.418 13.0068H144.624L141.002 18.4999L144.931 27.9469H141.65L139.112 21.0699L137.911 22.8704V27.9469H134.739V13.0068Z" fill="#161C2D"/>
                      <path d="M144.549 13.0068H153.567V15.831H150.613V27.9469H147.428V15.8099H144.549V13.0068Z" fill="#161C2D"/>
                      <path d="M164.761 20.4695C164.761 25.6096 163.017 28.1773 159.529 28.1726C158.769 28.2185 158.01 28.0622 157.324 27.7186C156.639 27.3751 156.05 26.8556 155.613 26.2097C154.727 24.9035 154.29 22.9901 154.29 20.4695C154.29 15.3389 156.034 12.7736 159.522 12.7736C160.277 12.7308 161.029 12.8849 161.711 13.2217C162.393 13.5585 162.982 14.0672 163.424 14.7011C164.316 15.9861 164.761 17.9089 164.761 20.4695ZM161.419 20.4695C161.419 18.4549 161.269 17.1134 160.968 16.445C160.851 16.1477 160.651 15.8933 160.393 15.7142C160.136 15.5352 159.833 15.4395 159.522 15.4395C159.212 15.4395 158.909 15.5352 158.651 15.7142C158.394 15.8933 158.193 16.1477 158.076 16.445C157.799 17.1417 157.66 18.4832 157.66 20.4695C157.578 21.8188 157.73 23.1723 158.11 24.4658C158.214 24.7738 158.409 25.04 158.667 25.2264C158.926 25.4128 159.235 25.5099 159.55 25.5037C159.86 25.5103 160.165 25.4185 160.423 25.2405C160.682 25.0626 160.882 24.807 160.996 24.5081C161.282 23.8445 161.423 22.4983 161.419 20.4695Z" fill="#161C2D"/>
                      <path d="M166.972 13.0061H171.126C172.116 12.972 173.106 13.0813 174.066 13.3309C174.805 13.586 175.426 14.1139 175.813 14.8136C176.303 15.6807 176.54 16.6764 176.495 17.6801C176.529 18.6195 176.332 19.5525 175.922 20.3914C175.578 21.0743 175.023 21.6185 174.346 21.9376C173.374 22.3108 172.339 22.4789 171.303 22.4318H170.144V27.9602H166.972V13.0061ZM170.144 15.4208V19.8548H171.126C171.999 19.8548 172.552 19.65 172.804 19.2334C173.074 18.7393 173.204 18.1766 173.179 17.6095C173.2 17.135 173.101 16.6631 172.893 16.2398C172.747 15.9414 172.506 15.7044 172.211 15.569C171.86 15.4555 171.493 15.4054 171.126 15.4208H170.144Z" fill="#161C2D"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_724_37908">
                      <rect width="176" height="40" fill="white" transform="translate(0.5)"/>
                      </clipPath>
                      </defs>
                      </svg> 
                      <h2 class="add-organization-popup__commercial-offer-title">
                        Коммерческое предложение
                      </h2>                     
                   </div>
                   <div class="add-organization-popup__commercial-offer-body">
                     <div class="add-organization-popup__commercial-offer-body-top">
                      <p class="add-organization-popup__commercial-offer-body-text">Добрый день,</p>
                      <p class="add-organization-popup__commercial-offer-body-text">Высылаем Вам коммерческое предложение от <time class="add-organization-popup__commercial-offer-body-date" datetime="хх.хх.хххх.">хх.хх.хххх.</time></p>
                      <p class="add-organization-popup__commercial-offer-body-text">Вы можете скачать предложение или посмотреть его в личном кабинете по ссылке ниже:</p>
                     </div>
                     <div class="add-organization-popup__commercial-offer-body-middle">
                       <div class="add-organization-popup__commercial-offer-body-middle-wrapper offer-sum">
                          <strong class="add-organization-popup__commercial-offer-sum-text">Сумма предложения:</strong>
                          <strong class="add-organization-popup__commercial-offer-sum-result-text">978 000,00</strong>
                       </div>
                       <div class="add-organization-popup__commercial-offer-body-middle-wrapper">
                         <ul role="list" class="add-organization-popup__commercial-offer-body-account-list">
                           <li class="add-organization-popup__commercial-offer-body-account-list-item">
                             <strong>Логин:</strong>
                             <p>тут логин</p>
                           </li>
                           <li class="add-organization-popup__commercial-offer-body-account-list-item">
                            <strong>Пароль:</strong>
                            <p>тут пароль</p>
                          </li>
                         </ul>
                       </div>
                       <a href="#" class="btn btn--primary add-organization-popup__cabinet-link">Перейти в личный кабинет</a>
                     </div>
                     <div class="add-organization-popup__commercial-offer-body-bottom">
                      <p>С уважением,</p>
                      <p>Иван Капитанович</p>
                     </div>
                   </div>
                </div>
              </div>
             <ul role="list" class="add-organization-popup__btn-control-group">
              <li class="add-organization-popup__btn-control-group-item">
                  <button type="button" class="btn btn--flat add-organization-popup__undo-btn" x-on:click="addOrganizationPopup = false">
                      Отменить
                  </button>
              </li>
              <li class="add-organization-popup__btn-control-group-item">
                  <button type="button" class="btn btn--primary add-organization-popup__save-btn">
                      Сохранить
                  </button>
              </li>
             </ul>
        </div>
      </div>
</div>