<div class="alt-popup view-card-info-alt-popup" x-bind:class="{'active': viewCardInfoAltPopup === true}" x-on:click.self="viewCardInfoAltPopup = false">
    <form action="#" method="post" class="alt-popup__form view-card-info-alt-popup__form">
    <div class="alt-popup__content view-card-info-alt-popup__content">
     <div class="view-card-info-alt-popup__top-row">
        <p class="alt-popup__title view-card-info-alt-popup__title">Редуктор <br>цилиндрический</p>
     </div>
    <div class="alt-popup__body view-card-info-alt-popup__body">
            <fieldset class="alt-popup__fieldset view-card-info-alt-popup__fieldset b-b">
             <ul role="list" class="view-card-info-alt-popup__list">
                <li class="view-card-info-alt-popup__list-item">
                   <div class="view-card-info-alt-popup__list-item-top">
                    <p class="view-card-info-alt-popup__list-item-title">Размер:</p>
                    <p class="view-card-info-alt-popup__list-item-info">19,06 КБ</p>
                   </div>
                   <div class="view-card-info-alt-popup__list-item-bottom">
                    <p class="view-card-info-alt-popup__list-item-title">Тип файла:</p>
                    <p class="view-card-info-alt-popup__list-item-info">png</p>
                   </div>
                </li>
                <li class="view-card-info-alt-popup__list-item">
                    <div class="view-card-info-alt-popup__list-item-top">
                     <p class="view-card-info-alt-popup__list-item-title">Создан:</p>
                     <p class="view-card-info-alt-popup__list-item-info">19.10.2022 17:32</p>
                    </div>
                    <div class="view-card-info-alt-popup__list-item-bottom">
                     <p class="view-card-info-alt-popup__list-item-title">Автор:</p>
                     <p class="view-card-info-alt-popup__list-item-info"><a class="view-card-info-alt-popup__list-item-mail" href="mailto:vtr@uralreduktor.ru">vtr@uralreduktor.ru</a></p>
                    </div>
                 </li>
                 <li class="view-card-info-alt-popup__list-item">
                    <div class="view-card-info-alt-popup__list-item-top">
                     <p class="view-card-info-alt-popup__list-item-title">Изменен:</p>
                     <p class="view-card-info-alt-popup__list-item-info">19.10.2022 17:32</p>
                    </div>
                    <div class="view-card-info-alt-popup__list-item-bottom">
                     <p class="view-card-info-alt-popup__list-item-title">Кем:</p>
                     <p class="view-card-info-alt-popup__list-item-info"><a class="view-card-info-alt-popup__list-item-mail" href="mailto:vtr@uralreduktor.ru">vtr@uralreduktor.ru</a></p>
                    </div>
                 </li>
            </ul>
            </fieldset>
    <ul role="list" class="alt-popup__btn-control-group view-card-info-alt-popup__btn-control-group">
        <li class="alt-popup__btn-control-group-item view-card-info-alt-popup__btn-control-group-item">
            <button type="button" class="view-card-info-alt-popup__cancel-btn" x-on:click="viewCardInfoAltPopup = false">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 1L1 15M1 1L15 15" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
            </button>
        </li>
      </ul>
    </div>
</div>
</form>
</div>