.document-flow-cards-list {
    padding: 0;
    margin: 0;
    display: grid;
    scrollbar-width: none;

    @include media-custom-max(1199px) {
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    }
    
    @include media-extra-large() {
         grid-template-columns: repeat(3, max-content);
         gap: 14px;
    }

    &__card {
        max-width: 220px;
        max-height: 276px;
        padding: 20px 0;
        border-right: 1px solid var(--grey-color);
        transition: .3s ease-in-out;

        @include media-extra-large() {
            max-width: 100%;
            min-width: 240px;
            max-height: 296px;
            border: 2px solid var(--grey-color);
        }
    }

    &__card.active {
        @include media-extra-large() {
            border-color: var(--primary);
        }
    }

    &__card-top {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        grid-gap: 16px;
    }

    &__card-img {
        height: 120px;
        max-width: 188px;
        object-fit: cover;
        border-radius: 4px;

        @include media-extra-large() {
            max-width: 200px;
            width: 100%;
            height: 180px;
            padding-bottom: 8px;
        }
    }

    &__card-title {
        font-weight: 600;
font-size: 16px;
line-height: 18px;
color: var(--dark);
display: flex;
flex-direction: column;

@include media-extra-large() {
    flex-direction: row;
    gap: 4px;
    grid-gap: 4px;
}
    }

    &__time {
        display: none;

        @include media-extra-large() {
            display: block;
            font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--dark);
        }
    }

    &__figcaption {
        padding-top: 16px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-top: 1px solid var(--grey-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-extra-large() {
            display: none;
        }
    }

    &__toggle-view-btn,
    &__info-btn,
    &__download-btn {
        width: 32px;
        height: 32px;
    }
}

.document-flow-cards-list::-webkit-scrollbar {
    display: none;
}