.send-offer-popup {
    max-width: 705px;

    &__body {
        padding-left: 0;
        padding-top: 24px;
        display: grid;
        gap: 24px;
    }

    &__body > * {
        padding-left: 16px;
        padding-right: 16px;

        @include media-extra-large() {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__top-row {
        @include media-extra-large() {
            padding-bottom: 17px;
        }
    }


    &__form-control-group {
        display: grid;
        gap: 8px;

        @include media-extra-large() {
            gap: 16px;
        }
      }
  
      &__form-control-group-title {
        font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark);
      }

      &__form-control-wrapper {
        background-color: var(--gray100);
        border: 1px solid var(--grey-color);
         border-radius: 4px; 
         height: 34px;
      }

      &__form-control-input {
        padding-left: 16px;
        height: 100%;
      }

      &__form-control-group-subtitle {
        font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--dark-grey);
      }

      &__recepient-offer-list {
        padding: 0 16px;
        margin: 0;
        display: grid;
        gap: 16px;

        @include media-extra-large() {
            grid-template-columns: repeat(2,1fr);
            padding-bottom: 27px;
            padding: 0 30px;
        }
    }

    &__recepient-offer-list-item {
        display: grid;
        align-items: center;
        grid-template-columns: max-content 1fr;
        gap: 13px;
        position: relative;
    }

    &__recepient-offer-list-item-checkbox {
        padding: 0;
        margin: 0;
        width: 21px;
        height: 21px;
        background-color: transparent;
        opacity: 0;
        cursor: pointer;
    }
  
    &__recepient-offer-list-item-checkbox:checked + label::after {
         opacity: 1;
    }

    &__recepient-offer-list-item-info {
        display: grid;
        gap: 2px;
    }

    &__recepient-offer-list-item-info::before,
    &__recepient-offer-list-item-info::after {
      position: absolute;
      left: 0;
      content: '';
  }

  &__recepient-offer-list-item-info::before {
      width: 21px;
      height: 21px;
      border: 2px solid var(--grey600);
      border-radius: 2px;
      z-index: 0;
  }

  &__recepient-offer-list-item-info::after {
      width: 21px;
      height: 21px;
      background: url("/icons/setting-checkbox-active.svg") no-repeat center/cover;
      opacity: 0;
      z-index: 1;
      transition: .3s ease-in-out;
  }

  &__recepient-offer-list-item-name {
    font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--primary);
  }

  &__recepient-offer-list-item-mail {
    font-weight: 400;
font-size: 14px;
line-height: 18px;
color: var(--dark);
  }

  &__add-recepient-btn,
  &__create-profile-btn {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,max-content);
    gap: 11.33px;
    font-weight: 600;
font-size: 16px;
line-height: 18px;
color: var(--primary);
margin-bottom: 24px;
margin-right: auto;
  }

  &__commercial-offer {
    background-color: var(--gray100);
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    padding: 16px 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 26px;
    max-width: 645px;

    @include media-extra-large() {
        margin: auto;
    }
}

&__commercial-offer-top {
    border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    padding: 24px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--gray200);
}

&__commercial-offer-logo {
    margin: auto;
}

&__commercial-offer-title {
    font-weight: 600;
font-size: 24px;
line-height: 28px;
color: var(--dark);
}

&__commercial-offer-body {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    gap: 24px;
}

&__commercial-offer-body-top {
    font-family: 'Inter',sans-serif;
    font-weight: 400;
font-size: 14px;
line-height: 16px;
color: var(--dark);
display: grid;
gap: 16px;
}

&__commercial-offer-body-middle {
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    padding: 30px;
}

&__commercial-offer-body-middle-wrapper {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--grey-color);
}
&__commercial-offer-body-middle-wrapper.offer-sum {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 13px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
color: var(--dark);
white-space: nowrap;

@include media-extra-large() {
    grid-template-columns: repeat(2,max-content);
    white-space: unset;
}
}

&__commercial-offer-sum-text {
    @include media-extra-large() {
        font-size: 16px;
       line-height: 18px;
    }
}

&__commercial-offer-sum-result-text {
    @include media-extra-large() {
        font-size: 22px;
        line-height: 24px;
    }
}

&__commercial-offer-body-account-list {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 16px;
}

&__commercial-offer-body-account-list-item {
    display: grid;
    align-items: center;
    grid-template-columns: 68px max-content;
    gap: 13px;

    strong {
        font-weight: 600;
font-size: 16px;
line-height: 18px;
color: var(--dark);
    }

    p {
        font-family: 'Inter',sans-serif;
        font-weight: 400;
font-size: 14px;
line-height: 16px;
color: var(--dark);
    }
}

&__cabinet-link {
    font-weight: 600;
font-size: 16px;
line-height: 18px;
color: var(--gray100);
max-width: 227px;
margin-left: auto;
margin-right: auto;
text-decoration: none;
display: flex;
    align-items: center;
    justify-content: center;
}

&__commercial-offer-body-bottom {
    display: grid;
    gap: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
font-size: 14px;
line-height: 16px;
}

&__attach-offer-btn-wrapper {
    position: relative;
}

&__attach-offer-btn-file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

&__attach-offer-btn {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,max-content);
    gap: 12px;
    font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--dark);
margin-bottom: 19px;
margin-right: auto;
}

&__attach-offer-list {
    display: grid;
    padding: 0;
    margin: 0;
}

&__attach-offer-list.active {
    gap: 35px;
}

&__attached-offer {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--dark);
}

&__btn-control-group {
    padding: 20px 30px;
    margin: 0;
    border-top: 1px solid var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-extra-large() {
        padding-top: 20px;
        padding-left: 30px;
        display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: 16px;
    }
  }

&__undo-btn {
    min-width: 71px;
    font-weight: 600;
font-size: 16px;
line-height: 18px;
  }

  &__save-btn {
    min-width: 109px;
    font-weight: 600;
font-size: 16px;
line-height: 18px;
  }
}