.new-message-popup {
  max-width: 835px;

    &__body {
        padding-left: 0;
        padding-top: 32px;
        height: 100%;
        display: grid;
        grid-template-rows: auto max-content;

        @include media-extra-large() {
          padding-top: 0;
        }
    }

    &__top-row {
      @include media-extra-large() {
        padding-bottom: 17px;
      }
    }

    &__fieldset {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 40px;
        display: grid;
        gap: 16px;

        @include media-extra-large() {
            padding-left: 30px;
            padding-right: 33px;
           padding-bottom: 0;
           padding-top: 30px;
           grid-auto-rows: max-content;
        }
    }

    &__fieldset.b-r {
       border-right: 1px solid var(--grey-color);
    }

    &__fieldset.desktop-hide {
      @include media-extra-large() {
        display: none;
      }
    }

    &__form-control-group {
        display: grid;
        gap: 8px;

        @include media-extra-large() {
            gap: 16px;
        }
      }

      &__form-control-wrapper {
        background-color: var(--gray100);
        border: 1px solid var(--grey-color);
         border-radius: 4px; 
         height: 34px;
      }

      &__form-control-group-title {
        font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark);
      }

      &__form-control-group-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
      }

      &__form-control-btn-group {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,max-content);
        gap: 8px;
      }

      &__email-copy-btn,
      &__email-hidden-copy-btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--primary);
        border-bottom: 1px dashed var(--primary);
      }

      &__form-control-input {
        height: 100%;
      }

      &__form-control-input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 16px;
      }

      &__form-control-select-wrapper {
        display: flex;
        align-items: center;
        position: relative;
      }

      &__form-control-select-result-input {
        padding-left: 16px;
        font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-grey);
  background: var(--gray100);
  height: 100%;
      }

      &__form-control-select-arrow {
        position: absolute;
        right: 0;
        width: 12px;
        height: 6px;
        margin-right: 18px;
        margin-top: 4px;
        transform: rotate(180deg);
        transition: .3s ease-in-out;
      }
      &__form-control-select-arrow.active {
        transform: rotate(0);
      }
  
      &__form-control-dropdown {
        position: absolute;
         z-index: 99;
         top: 2.5rem;
         background: var(--gray100);
         border: 1px solid var(--grey-color);
         box-shadow: 0px 4px 8px rgba(73, 80, 87, 0.15);
         border-radius: 4px;
         opacity: 0;
         visibility: hidden;
         transition: .3s ease-in-out;
         width: 100%;
      }
  
      &__form-control-dropdown.active {
         opacity: 1;
         visibility: visible;
      }
  
      &__form-control-select-list {
         padding: 0;
         margin: 0;
         display: grid;
         padding-top: 8px;
         padding-bottom: 8px;
      }

      &__form-control-select-list-item {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
    }

    &__form-control-select-list-item-input {
      font-family: 'Inter',sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--dark-grey);
    }

    &__message-textarea {
        height: 137px;
        padding: 16px;
        font-family: 'Inter',sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: var(--dark-grey);
    }

    &__attach-files-list {
        display: grid;
        gap: 8px;
        padding: 0;
        margin: 0;

        @include media-extra-large() {
            grid-template-columns: repeat(2,1fr);
            column-gap: 20px;
            row-gap: 16px;
        }
    }

    &__attach-files-list-item {
        display: grid;
        align-items: center;
        grid-template-columns: 211px 1fr;
        gap: 28px;
    
        @include media-extra-large() {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }
    
    &__attach-files-card {
        background-color: var(--gray100);
        border-radius: 4px;
        border: 1px solid var(--grey-color);
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,max-content);
        gap: 16px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 16px;
        transition: .3s ease-in-out;
    
        @include media-extra-large () {
            padding: 11px 16px;
            position: relative;
        }
    }
    
    &__attach-files-card:hover {
        background-color: var(--hover);
    }
    
    &__attach-files-card:hover .new-message-popup__attach-files-list-item-controls.desktop {
        @include media-extra-large() {
            display: grid;
        }
    }
    
    &__attach-files-list-item-img {
        width: 34px;
        height: 34px;
    }
    
    &__attach-files-list-item-info {
        display: grid;
        gap: 4px;
    }
    
    &__attach-files-list-item-title {
        font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--dark);
    
    @include media-custom-max(1199px) {
        max-width: 17ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    }
    
    &__attach-files-list-item-size-format {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,max-content);
        gap: 4px;
        font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark-grey);
    
    @include media-custom-max(1199px) {
        max-width: 17ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    }
    
    &__attach-files-list-item-controls {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3,max-content);
        gap: 24px;
        transition: .3s ease-in-out;
    
        @include media-extra-large() {
            gap: 14px;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            margin-top: 12px;
            margin-right: 10px;
        }
    }

    &__attach-files-list-item-controls.desktop {
        display: none;
    }
    
    &__attach-files-list-item-controls.mobile {
        @include media-extra-large() {
            display: none;
        }
    }
    
    &__attach-files-list-item-add-btn,
    &__attach-files-list-item-download-btn,
    &__attach-files-list-item-delete-btn {
        width: 16px;
        height: 16px;
    }

    &__attach-files-btn {
    display: grid;
    grid-template-columns: repeat(2,max-content);
    gap: 10px;
    margin-right: auto;
    position: relative;
    font-weight: 600;
font-size: 16px;
line-height: 18px;
color: var(--primary);
    }

    &__form-control-group-file-input {
        width: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
      }

      &__info-card {
        background-color: var(--gray100);
        border: 1px solid var(--grey-color);
        border-radius: 4px;
        padding: 8px 16px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,max-content);
        gap: 16px;
        margin-bottom: 16px;
      }

      &__info-card-img {
        width: 32px;
        height: 32px;
      }

      &__info-card-right {
        display: grid;
        gap: 4px;
      }

      &__info-card-title {
        font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--dark);
      }

      &__info-card-datetime {
         display: grid;
         align-items: center;
         grid-template-columns: repeat(2,max-content);
         gap: 8px;
         font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--grey600);
      }

      &__add-links-wrapper {
        background-color: var(--gray100);
        border: 1px solid var(--grey-color);
        border-radius: 4px;
        padding: 8px 16px;
      }

      &__add-links-title {
        font-weight: 600;
font-size: 16px;
line-height: 18px;
color: var(--dark);
padding-bottom: 24px;
      }

      &__add-links-btn {
        justify-content: space-between;
        font-weight: 600;
font-size: 16px;
line-height: 18px;
color: var(--primary);
width: 100%;
      }

      &__tags-list {
        padding-top: 0;
      }

      &__add-tags-btn {
        display: grid;
        grid-template-columns: repeat(2,max-content);
        gap: 12px;
      }

      &__btn-control-group {
        padding: 20px 30px;
        margin: 0;
        border-top: 1px solid var(--grey-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        @include media-extra-large() {
            padding-top: 20px;
            padding-left: 30px;
            display: grid;
          grid-auto-flow: column;
          grid-auto-columns: max-content;
          gap: 16px;
          justify-content: flex-start;
        }
      }

      &__undo-btn {
        min-width: 71px;
        font-weight: 600;
    font-size: 16px;
    line-height: 18px;
      }
    
      &__save-btn {
        min-width: 109px;
        font-weight: 600;
    font-size: 16px;
    line-height: 18px;
      }

      &__body-grid {
         display: none;

         @include media-extra-large() {
          display: grid;
          grid-template-columns: 1fr 308px;
         }
      }
}