.delete-chat-alt-popup {

    &__title {
        padding-bottom: 0;
    }

    &__content {
        max-width: 322px;
    }

    &__fieldset {
        gap: 0;
    }

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--grey-color);
    }

    &__btn-control-group {
        justify-content: flex-end;
        grid-gap: 16px;
        gap: 16px;
    }

    &__undo-btn {
        min-width: 87px;
    }

    &__delete-btn {
        min-width: 91px;
    }
}